# ------------------------------
# OS / Editor / Misc
# ------------------------------
.DS_Store
Thumbs.db

# VSCode / JetBrains
.vscode/
.idea/

# ------------------------------
# Python cache and compiled files
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# ------------------------------
# Virtual environments
# ------------------------------
.venv/
env/
venv/
ENV/
*.venv/

# ------------------------------
# Build / Install Artifacts
# ------------------------------
# setuptools build directories
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# pip wheel builds
pip-wheel-metadata/

# ------------------------------
# Project-specific ignores
# ------------------------------

# Local test environment (test_env/)
test_env/

# folders
done-tracks/
done-lrc-files/
lrc-files/
tracks/

# ------------------------------
# Logs / temp files
# ------------------------------
*.log
*.tmp
*~
